<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog List</title>
    {% load static %} <link rel="stylesheet" href="{% static "style.css" %}" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container mt-5">
      <div>
        <div class="d-flex flex-end justify-content-end gap-4 align-items-center">
          <p class=" font-bold">hiii {{request.user}}</p>
          <p>
            <a href="{% url 'logout' %}" class="btn btn-link text-underline underline">Logout</a>
            {% comment %} <a><button  href="{% url 'logout' %}" class="btn btn-link text-underline underline">Logout</button>s</a> {% endcomment %}
          </p>
        </div>
      </div>
      

      <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-4 text-center">All Blogs</h1>   


        <form class="d-flex gap-4 flex-row align-items-center " action="{% url 'combined_blog_search' %}" method="get">
          <div class="mb-3 d-flex gap-4">
            <label for="search-type" class="form-label mb-0">Search By:</label>
            <select name="type" id="search-type" class="form-select rounded-pill mx-3">
              <option value="tag"> #tag </option>
              <option value="rank">Text </option>
            </select>
          </div>
          <input
            class="form-control me-2 rounded-pill mb-3"
            type="search"
            name="q"
            placeholder="Search...."
            aria-label="Search"
            style="width:250px;"
          />
          
        
          <button class="btn btn-primary rounded-pill ml-3 mb-3" type="submit">
            Search
          </button>
        </form>
        {% comment %} <div class=" mt-5 mb-4" style="max-width: 450px; margin: auto">
        </div> {% endcomment %}
    
      </div>

  
    </div>

      <div class="container">
        <div class="row " style="overflow:hidden;">
          {% for blog in page_obj %}
          <div class="col-md-4 mb-4">
            <div class="card  card-blog">
            
  
              {% if blog.blog_image %}
              <img src="{{ blog.blog_image.url}}" class="card-img-top" alt="{{ blog.title }}" style="height:200px;object-fit:cover;">
              {% endif %}
  
              <div class="card-body d-flex flex-column">
                <h3 class="card-title">
                  <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                </h3>
                <p class="card-subtitle mb-2 text-muted">
                  Author: {{ blog.author.username }}
                </p>
                <small class="mb-2">Created: {{ blog.created_at }}</small>
                <p class="card-text">{{ blog.content|truncatewords:20 }}</p>
                <a
                  href="{% url 'blog_detail' blog.pk %}"
                  class="btn btn-primary mt-auto"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              &laquo; First
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ page_obj.previous_page_number }}"
              >Previous</a
            >
          </li>
          {% endif %}

          <li class="page-item disabled">
            <a class="page-link"
              >Page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}</a
            >
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"
              >Next</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ page_obj.paginator.num_pages }}"
              aria-label="Last"
            >
              Last &raquo;
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w77d4sAGfw+gO6z6k5l5Z7Hae6WoUfy6l5uZ6Gm6aLjz6y23u2G6sFnvCvE/gqyn"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
